body{
    background-color:  lightblue;

}

h1{
    float: center;
    text-align: center;
    margin-top: 100px;
}

p{
    text-align: center;
    margin-top: 50px;
}

.foto{
    margin-top: 200px;
    margin-left: 50px;
}

.foto1{
    margin-top: 200px;
    margin-left: 275px;
}

.foto2{
    margin-top: 200px;
    margin-left: 300px;
}

.foto3{
    margin-top: 200px;
    margin-left: 325px;
}

.header1{
    margin-left: -1450px;
    margin-top: -20 px;
}

.header2{
    margin-left: -700px;
    margin-top: -50px;
}
.header3{
    margin-left: 200px;
    margin-top: -50px;
}
.header4{
    margin-left: 1100px;
    margin-top: -50px;
}

.paragraph1{
    margin-left: -1400px;
    margin-top: 50px;
    font-size: small;
}

.paragraph2{
    margin-left: -700px;
    margin-top: -100px;
    font-size: small;
}

.paragraph3{
    margin-left: 200px;
    margin-top: -60px;
    font-size: small;
}

.paragraph4{
    margin-left: 1100px;
    margin-top: -90px;
    font-size: small;
}


@media (max-width:800px){
    body{
        background-color: red;
    }
}


