.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(173, 216, 230);
    height: 70px;
    gap: 80px;
    width: 100%;;
}

.header a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 50px;
}

.foto{
    width: 150px;
    float: right;
    margin-top: -10px;
}

.ContactUs{
margin-top: 30px;
background-color: rgb(230, 170, 90);
width: 100%;
height: 735px;
}


.Name{
    margin-top: 50px;
    float: right;
    margin-right: 700px;
    font-size: 30px;
}


.LastName{
    margin-top: -682px;
    float: right;
    margin-right: 50px;
    font-size: 30px;
}


.Message{
    margin-top: -440px;
    float: right;
    margin-right: 700px;
    font-size: 30px;
}

.Email{
    margin-top: -435px;
    float: right;
    margin-right: 80px;
    font-size: 30px;
}


