body{
    background-image:url(foto/29f0857b66d1ad3d5aa5aba7654fb58f.jpg)  ;
}

.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(173, 216, 230);
    height: 70px;
    gap: 80px;
    width: 100%;;
}

.header a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 50px;
}

.foto{
    width: 150px;
    float: left;
    margin-top: 10px;
}

.hh{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 47.5%;
    margin-top: 10px;
    color: RGB(245, 240, 230);
    text-shadow: 3px 3px 3px black;
}   

p{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: RGB(245, 240, 230);
    text-shadow: 3px 3px 3px black;

}